## ------------------------------------------------------------------------------------------------------------------ ##
## Local Developer Only

## Local Developer Notes
.dev
kanbn.json

## ------------------------------------------------------------------------------------------------------------------ ##
## General

## Build Output
**/build/
**/out/
**/dist/

## ------------------------------------------------------------------------------------------------------------------ ##
## Environment Variables

## dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local

## ------------------------------------------------------------------------------------------------------------------ ##
## NextJS

## Next.js build output
.next

## ------------------------------------------------------------------------------------------------------------------ ##
## BunJS and Node.js

## Dependency directories
node_modules/

## TypeScript cache
*.tsbuildinfo

## ------------------------------------------------------------------------------------------------------------------ ##
## TurboRepo

## Cache
.turbo

## ------------------------------------------------------------------------------------------------------------------ ##
## VSCode

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

## ------------------------------------------------------------------------------------------------------------------ ##
